.wrapper
  = render "shared/side_bar"
  .chat
    .header
      .left-header
        .left-header__headline
          = @group.name
        %ul.left-header__members
          %li.member
            - @group.members.each do |members|
              = members.user.name
      .right-header
        .right-header__button
          = link_to "Edit", "edit"
    .messages
      = render @messages

    .form
      = form_for [@group, @message], html: {id: "new_message"}, remote: true do |f|
        = f.text_field :content, class: "form__message", placeholder: "type a message"
        .form__mask
          = f.label :image, class: "form__mask__image" do
            = fa_icon "picture-o", class: "icon"
            = f.file_field :image, class: "hidden"
        = f.submit "Send", class: "form__submit"
